<div class = "col-md-6">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h4><%= link_to professor.last_name + ", " + professor.first_name, professor_path(professor) %></h4> 
	    <p><strong>Overall Rating: </strong><%= professor.overall_rating %>/5.0</p>
	</div>
    </div>
</div>
