<div class = "col-md-6">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h4><%= link_to professor.name.last, professor.name.first, professor_path(professor) %></h4> 
	</div>
    </div>
</div>
