<header id = "default-padding">
    <h1 class = "text-center">Add class to <%= @professor.last_name + ", " + @professor.first_name %></h1> 
</header>

<div class = "container">
    <%= render "add_to_class", professor: @professor %> 
</div>
