<%= stylesheet_link_tag "professors" %>
<p id="notice"><%= notice %></p>
<header id = "default-padding">
    <h1 class = "text-center">Professors</h1>
</header>
<div class = "container" id = "half-padding">

    <% if @professors.count > 0 %>
	<%= render @professors %>
    <% else %>
	<div class = "col-md-12">
	    <div class = "panel panel-default">
		<div class = "panel-body">
		    <h4 class = "text-center"><i>No professors here</i></h3>
		</div>
	    </div>
	</div>
    <% end %>
</div>
