<p id="notice"><%= notice %></p>

<div class = "container" id = "default-padding">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h2><%= @professor.name.last + ", " + @professor.name.first %></h2>
	</div>
    </div>
</div>
