<%= stylesheet_link_tag 'splash' %>
<a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Guro</h1>
                        <h3>Rate your professors</h3>
                        <hr class="intro-divider">
			<ul class = "list-inline">
			    <li>
				<%= link_to "Check your school", schools_path(), class: "btn btn-primary" %>
				<%= link_to "Find your class", subjects_path(), class: "btn btn-primary" %>
			    </li>
			</ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

