<%= form_for @subject, url: subject_add_professor_path, html: {method: :post} do |f| %>
    <div class = "form-group">
	<%= f.label :professor_id, class: "control-label" %>
	<%= f.collection_select :professor_id, Professor.all, :id, :last_name, {}, {class: "form-control"} %>
    </div>

    <div class = "form-group">
	<%= f.submit "Add professor", class: "btn btn-primary" %>
    </div>
<% end %>
    

