<header id = "default-padding">
    <h1 class = "text-center">Add professor to <%= @subject.name %></h1>
</header>

<div class = "container">
    <%= render "add_professor", subject: @subject %>
</div>
