<%= stylesheet_link_tag 'subjects' %>
<p id="notice"><%= notice %></p>

<header id = "default-padding">
    <h1 class = "text-center">Classes</h1>
</header>
<div class = "container" id = "half-padding">

    <% if not @subjects.empty? %>
	    <%= render @subjects %>
    <% else %>
	<div class = "col-md-12">
	    <div class = "panel panel-default">
		<div class = "panel-body">
		    <h4 class = "text-center"><i>No classes here</i></h4>
		</div>
	    </div>
	</div>
    <% end %>

</div>
