<%= stylesheet_link_tag 'subjects' %>
<p id="notice"><%= notice %></p>

<header id = "default-padding">
    <h2 class = "text-center">Classes</h2>
</header>
<div class = "container"></div> 

    <% if not @subjects.empty? %>
	<div class = "col-md-6">
	    <div class = "panel panel-default">
		<%= render @subjects %>
	    </div>
	</div>
    <% else %>
	<div class = "col-md-12">
	    <div class = "panel panel-default">
		<div class = "panel-body">
		    <p class = "text-center"><i>No professors here</i></p>
		</div>
	    </div>
	</div>
    <% end %>

</div>
