<%= stylesheet_link_tag "schools" %>
<p id="notice"><%= notice %></p>

<header id = "default-padding">
    <h1 class = "text-center" id = "outline">Schools</h1>
</header>
<div class = "container" id = "half-padding">
    <% if @schools.empty? %>
	<div class ="panel panel-default">
	    <div class = "panel-body">
		<h4 class = "text-center" ><i>No schools here</i></h4>
	    </div>
	</div>
    <% else %>
	<%= render @schools %>
    <% end %>
</div>


