@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Rubik+Mono+One');
@import "bootstrap/variables";
@import "bootstrap-sprockets";
@import "bootstrap";

#default-padding
{
    padding-top: 60px;
}

#half-padding
{
    padding-top:30px;
}

#myNavbar
{
    font-family: "Montserrat", sans-serif;
}

body
{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5
{
    font-family: "Montserrat", sans-serif;
}

#outline
{
    text-shadow:
    -1px -1px 0 $color-orange-main,  
    1px -1px 0 $color-orange-main,
    -1px 1px 0 $color-orange-main,
    1px 1px 0 $color-orange-main;
}
