<p id="notice"><%= notice %></p>

<header id = "default-padding">
    <h1 class = "text-center">Reviews</h1>
</header>

<div class = "container" id = "default-padding">
    <%= render @reviews %>
</div>

